:root {
    --color-one: rgba(153, 148, 226, 1);
    --color-two: black;
    --color-three: rgba(148, 179, 226, .1);
    --color-four: rgb(255, 255, 255);
    --color-five: rgba(161, 102, 216, 0.815);
    --color-six: rgba(108, 102, 216, 0.815);
    --color-seven: rgba(169, 167, 199, 0.815);
    --color-sucess: linear-gradient(45deg, rgb(36, 235, 145), rgb(2, 243, 135));
    --color-transition: linear-gradient(45deg, var(--color-five), var(--color-six));
}

body {
    overflow-x: hidden;
    margin: 0 !important;
    font-family: 'Open Sans', sans-serif;
}

html {
    background-color: var(--color-four);
}

div {
    transition: all 3s;
    transition-duration: 3s;
}

main {
    overflow: hidden;
    width: 915px;
    margin: auto;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    background-color: #FFF !important;
    font-family: Arial, Helvetica, sans-serif
}

form {}

textarea {}

input {}

input[type=submit] {
    text-align: center;
    padding: 5px 15px;
    cursor: pointer;
    width: 40% !important;
    border: 3px solid var(--color-four);
    background: none;
    color: var(--color-four);
}

header h1 {
    font-weight: initial !important;
    color: inherit;
}

header p {
    font-size: 20px;
    letter-spacing: 2px !important;
    margin: 0;
    color: inherit;
}

content {
    width: 100vw;
    color: var(--color-four);
    text-align: center;
}

nav {
    height: 10vh;
}

nav ul li a {
    text-transform: uppercase;
}

section {
    overflow: hidden;
    width: inherit;
    height: 100%;
    padding: 20px;
}

footer {
    text-decoration: none;
    clear: both;
    width: 100vw;
    margin: 0;
    font-size: 1em;
    text-align: center;
    background-color: var(--color-two);
    padding: 5px;
    color: var(--color-seven);
    bottom: 0 !important;
}

footer nav {
    height: 5vh;
    margin: 5vh;
}

footer a {
    text-decoration: inherit;
    color: var(--color-four) !important;
    font-size: 1.3em;
    padding: 1em;
    margin: 1em !important;
}

footer a:hover {
    color: var(--color-one) !important;
}

footer ul{
    list-style-type: none;
}

hr {
    width: 10%;
    background: var(--color-transition);
    height: .2vh;
}

h2 {
    clear: both;
    position: inherit;
    font-size: 2.0em;
    padding-top: 2vh;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--color-two);
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: .25em;
    text-align: center;
}

h1 {
    font-size: 2.6em;
    margin: 0 5px;
}

h4 {
    font-size: 1.6em;
    margin: 0 5px;
}

img {
    border-radius: 50%;
    height: auto;
    width: 15em;
}

#support {
    float: right;
    right: 20%;
    padding: 0 3em 0 0;
}

#skills {
    text-align: center;
    background: url('../images/eng.jpg')no-repeat center center;
    background-size: cover;
    color: white;
    padding: 0;
}

#programming-lang {
    text-align: center;
    background: url('../images/prog.png')no-repeat center center;
    background-size: cover;
    color: white;
    padding: 0;
}

#contact-me {
    background: url('../images/email.jpeg')no-repeat center center;
    background-size: cover;
    color: white;
    padding: 0;
}

#contact-me>input[type=submit] {
    text-align: center;
}

.icon {
    font-size: 1.5em !important;
}

.whole {
    background: var(--color-transition);
}

.whole h2 {
    color: var(--color-four);
}

.whole hr {
    width: 6em;
    background: var(--color-four);
    margin-bottom: 100px;
}

.whole article {
    width: 70% !important;
    margin: auto;
}

.box {
    border-radius: 50%;
    height: 15vh;
    width: 15vh;
    font-size: 1.5em;
    color: var(--color-six);
}

.box p {
    margin: 3vh 0 0 0;
    text-align: center;
    vertical-align: middle
}

.form-control {
    font-family: monospace;
    letter-spacing: .1em;
    font-size: 1.5em;
    border-radius: 10px;
    border: none;
}

.form-control::selection {
    background: var(--color-five);
    color: var(--color-four);
}

.pic {
    background: url('../images/header.jpg')no-repeat center center;
    background-size: cover;
}

.pic .overlay {
    height: 35vh;
    margin: auto;
    padding: 20vh 0 0 0 !important;
}

.overlay {
    padding: 10vh 0;
    margin: auto;
    background: var(--color-transition);
    background-size: auto;
}

.overlay h2 {
    color: var(--color-four);
}

.overlay hr {
    width: 6em;
    background: var(--color-four);
}

#alerting {
    top: 5vh;
    right: 5vh;
    position: fixed !important;
    float: right;
    z-index: 9999;
}